<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.bms2.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="com.zhou.bms2.entity.Log">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,text,time
    </sql>
</mapper>
