<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.bms2.mapper.PublishingHouseMapper">

    <resultMap id="BaseResultMap" type="com.zhou.bms2.entity.PublishingHouse">
            <id property="publishing_house_id" column="publishing_house_id" jdbcType="VARCHAR"/>
            <result property="publishing_house_name" column="publishing_house_name" jdbcType="VARCHAR"/>
            <result property="publishing_house_deleted" column="publishing_house_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        publishing_house_id,publishing_house_name,publishing_house_deleted
    </sql>
</mapper>
